In [1]:
import numpy as np
import pandas as pd

In [8]:
T=5
t=np.linspace(0,5,11)
coupon = 0.03

In [24]:
PV = np.array([coupon*np.exp(-6.8/100*(T-i)) for i in t])

In [25]:
PV

array([0.02135311, 0.0220916 , 0.02285563, 0.02364608, 0.02446387,
       0.02530994, 0.02618528, 0.02709089, 0.02802781, 0.02899715,
       0.03      ])

In [26]:
PV[0] = PV[0] + np.exp(-6.8/100)

In [27]:
PV

array([0.95561358, 0.0220916 , 0.02285563, 0.02364608, 0.02446387,
       0.02530994, 0.02618528, 0.02709089, 0.02802781, 0.02899715,
       0.03      ])

In [31]:
PV.sum()

1.214281830913963

In [29]:
np.exp(-6.8/100)

0.9342604735772135

In [67]:
table = pd.DataFrame(np.zeros((11,4)),columns=['Time','Coupon','Principal','PV'])

In [68]:
table['Time'] = t
table['Coupon'][1:] = coupon
table.iloc[-1,2] = 1

In [75]:
for index, row in table.iterrows():
    row['PV'] = row['Principal'] * np.exp(-6.8406/100*(row['Time'])) + row['Coupon'] *  np.exp(-6.8406/100*(row['Time']))

In [76]:
table

    Time  Coupon  Principal        PV
0    0.0    0.00        0.0  0.000000
1    0.5    0.03        0.0  0.028991
2    1.0    0.03        0.0  0.028016
3    1.5    0.03        0.0  0.027074
4    2.0    0.03        0.0  0.026164
5    2.5    0.03        0.0  0.025284
6    3.0    0.03        0.0  0.024434
7    3.5    0.03        0.0  0.023613
8    4.0    0.03        0.0  0.022819
9    4.5    0.03        0.0  0.022051
10   5.0    0.03        1.0  0.731637

In [77]:
table.sum()

Time         27.500000
Coupon        0.300000
Principal     1.000000
PV            0.960083
dtype: float64