In [9]:
import numpy as np
import pandas as pd
import math as m

In [2]:
u = pd.DataFrame('',columns = ['Value','Return','Log Return'],index = range(3))

In [3]:
u['Value'] = [100,200,100]

In [4]:
u['Return'] = (u['Value'] - u['Value'].shift(1))/u['Value'].shift(1)

In [5]:
u['Log Return'] = np.log( u['Value'] / u['Value'].shift(1) )

In [6]:
u

   Value  Return  Log Return
0    100     NaN         NaN
1    200     1.0    0.693147
2    100    -0.5   -0.693147

In [11]:
np.log(200)-np.log(100)

0.6931471805599445

In [12]:
np.log(200/100)

0.6931471805599453

In [13]:
np.e

2.718281828459045

In [14]:
np.e**0.6931471805599445

1.9999999999999982